<div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">

    <!-- CONTENT -->
    <div class="content">
        <div class="md-title">Sub-admin list</div>

        <div class="white-bg md-whiteframe-4dp">
            <table class="dataTable row-border hover" datatable="ng" dt-options="vm.dtOptions">
                <thead>
                    <tr>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Action</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">User id</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Full name</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Email</span>
                            </div>
                        </th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in vm.userData">
                        <td>
                            <md-button class="md-raised md-primary" ng-click="editAdmin($event, user.user_id)">Edit</md-button> 
                            <md-button class="md-raised" ng-click="changePassword($event, user.user_id)">Change password</md-button> 
                            <md-button class="md-raised md-warn" ng-click="showConfirm($event, user.user_id, user.email)">Delete</md-button>
                        </td>
                        <td>{{ user.user_id }}</td>
                        <td>{{ user.fullname }}</td>
                        <td>{{ user.email }}</td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>
    <!-- / CONTENT -->

</div>