<h1>
     <div class="form-wrapper md-whiteframe-1dp" flex="40" flex-offset="30">

                <form name="basicForm" ng-submit="changePassword(basicForm.$valid)" class="md-inline-form" novalidate role="basicForm" xt-form="basicForm">

                    <div class="form-title">Change password</div>

                    <div layout="column" layout-gt-sm="row">
                        <md-input-container flex>
                            <input type="password" name="old_password" ng-model="vm.basicForm.old_password"
                                   placeholder="Old password"
                                   required>
                            <div ng-messages="basicForm.old_password.$error" ng-show="basicForm.old_password.$touched"
                                 role="alert">
                                <div ng-message="required">
                                    <span>Old password is required.</span>
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="column" layout-gt-sm="row">
                        <md-input-container flex>
                            <input type="password" name="new_password" ng-model="vm.basicForm.new_password"
                                   placeholder="New password"
                                   required complex-password>
                            <div ng-messages="basicForm.new_password.$error" ng-show="basicForm.new_password.$touched"
                                 role="alert">
                                <div ng-message="required">
                                    <span>New password is required.</span>
                                </div>
                                <div ng-message="complexity">
                                    <span >Minimum 8 characters, 1 uppercase, 1 lowecase, 1 numeric and 1 special character required</span>
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="column" layout-gt-sm="row">
                        <md-input-container flex>
                            <input type="password" name="confirm_password" ng-model="vm.basicForm.confirm_password"
                                   placeholder="Confirm new password"
                                   required compare-to="vm.basicForm.new_password" complex-password>
                            <div ng-messages="basicForm.confirm_password.$error" ng-show="basicForm.confirm_password.$touched"
                                 role="alert">
                                <div ng-message="required">
                                    <span>Confirm password field is required.</span>
                                </div>
                                <div ng-message="compareTo">
                                    <span >Password (Confirm) must match</span>
                                </div>
                                <div ng-message="complexity">
                                    <span >Minimum 8 characters, 1 uppercase, 1 lowecase, 1 numeric and 1 special character required</span>
                                </div>
                            </div>
                        </md-input-container>

                    </div>

                    <md-button type="submit" class="md-raised md-accent" aria-label="Submit"
                               ng-disabled="basicForm.$invalid || basicForm.$pristine">
                        Submit
                    </md-button>
                </form>

            </div>
</h1>
