md-dialog {

    &.event-detail-dialog {
        max-width: 560px;
        width: 560px;

        md-dialog-content {
            position: relative;
            display: block;
        }

        .SocialeventsCat{
            color: #3a87ad;
        }
        .SocialeventsCat md-checkbox.md-checked .md-container .md-icon{
            background-color:#3a87ad;
        }
        .SportsCat{
            color: #9C27B0;
        }
        .SportsCat md-checkbox.md-checked .md-container .md-icon{
            background-color:#9C27B0;
        }
        .EntertainmentMusicCat{
            color: #607D8B;
        }
        .EntertainmentMusicCat md-checkbox.md-checked .md-container .md-icon{
            background-color:#607D8B;
        }
        .ArtsCat{
            color: rgb(3,155,229);
        }
        .ArtsCat md-checkbox.md-checked .md-container .md-icon{
            background-color:rgb(3,155,229);
        }
        .ReligiouseventsCat{
            color: rgb(76, 175, 80);
        }
        .ReligiouseventsCat md-checkbox.md-checked .md-container .md-icon{
            background-color:rgb(76, 175, 80);
        }
        .FundraiserCat{
            color: rgb(244,67,54);
        }
        .FundraiserCat md-checkbox.md-checked .md-container .md-icon{
            background-color:rgb(244,67,54);
        }
        .CityeventsCat{
            color: #FF9800;
        }
        .CityeventsCat md-checkbox.md-checked .md-container .md-icon{
            background-color: #FF9800;
        }
        .GovernmenteventsCat{
            color: rgb(255, 193, 7);
        }
        .GovernmenteventsCat md-checkbox.md-checked .md-container .md-icon{
            background-color: rgb(255, 193, 7);
        }
        .CulturalCat{
            color: rgb(205, 220, 57);
        }
        .CulturalCat md-checkbox.md-checked .md-container .md-icon{
            background-color: rgb(205, 220, 57);
        }
        .EducationCat{
            color: rgb(158, 158, 158);
        }
        .EducationCat md-checkbox.md-checked .md-container .md-icon{
            background-color: rgb(158, 158, 158);
        }
        .EducationCat{
            color: rgb(121, 85, 72);
        }
        .EducationCat md-checkbox.md-checked .md-container .md-icon{
            background-color: rgb(121, 85, 72);
        }

        md-toolbar {

            .md-toolbar-tools {
                position: relative;

                .title {
                    font-size: 20px;
                    padding-left: 8px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }

                .edit-event-button {
                    position: absolute;
                    right: 24px;
                    bottom: -28px;
                }
            }
        }

        md-dialog-content {
            padding: 32px 24px 24px 24px;

            .event-details {

                md-icon {
                    margin: 0 16px 0 0;
                }

                .event-detail-row {
                    margin-bottom: 32px;

                    &:last-child {
                        margin-bottom: 16px;
                    }
                }
            }
        }
    }
}

// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-sm) {

    md-dialog {

        &.event-detail-dialog {
            width: 80%;
        }
    }
}

@media screen and (max-width: $layout-breakpoint-xs) {

    md-dialog {

        &.event-detail-dialog {
            width: 90%;
        }
    }
}